   body {
      font-family: sans-serif;
      background-color: #f7f7f7;
  }
  
  header {
      background-color: #ff6f61;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo h1 {
      margin: 0;
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  nav li {
      display: inline;
      margin-right: 20px;
  }

  li:hover{
   background-color: rgb(250, 14, 14);
  }

  h1:hover{
   background-color: rgb(250, 14, 14);
   cursor: pointer;
  }

  a{
   color: #f7f7f7;
  }
  
  .hero {
      margin-top: 20px;
      text-align: center;
      padding: 20px;
      background-color: #fec43e;
  }
  
  .product {
      background-color: #fff;
      margin: 10px;
      padding: 20px;
      position: relative;
      z-index: 1;
  }
  
.indexy{
  
   display: inline;
   position: absolute;
   top: 50%;
   left: 55%;
   z-index: 3;
}

  .form{
   background-color:  #ff6f61;
   padding: 25px;
   padding-top: 50px;
   padding-bottom: 50px;
  }

  legend{
   background-color:  #f02f1e;
   padding: 5px;
  }

  footer {
      background-color: #333;
      color: rgb(154, 117, 233);
      padding: 5px;
      text-align: left;
  }

  